.app-tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tasks-list-main {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}
